<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <script>

        function Http(){
            window.location.replace("http://www.google.com");
        }


    </script>
  </head>
  <body>

    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">DDOS Saldırı Türleri</h1>
          <p class="lead text-muted">Bu script Django tabanlı olup üzerinde DDOS Saldırı yapmayan yarayan scriptlerin olduğu bir uygulamadır.
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>

    <div class="container">

        {% load static %}

        <div class="row">

            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="{% static "image/background.png" %}" alt="My image"/>
                    <div class="card-body">
                    <a href="/Http_Flood" class="btn btn-primary" style="margin-left: 25%;">HTTP Flood</a>
                    </div>
                 </div>

            </div>

            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="{% static "image/background.png" %}" alt="My image"/>
                    <div class="card-body">
                    <a href="#" class="btn btn-primary" style="margin-left: 25%;">SYN Flood</a>
                    </div>
                 </div>

            </div>

            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="{% static "image/background.png" %}" alt="My image"/>
                    <div class="card-body">
                    <a href="#" class="btn btn-primary" style="margin-left: 25%;">UDP Flood</a>
                    </div>
                 </div>

            </div>



        </div> <!-- row -->


    </div> <!-- container -->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>